name: Microservice CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
    # -------------------------
    # Checkout Source Code
    # -------------------------
    - name: Checkout code
      uses: actions/checkout@v4

    # -------------------------
    # Trivy Filesystem Scan (First - Shift Left Security)
    # -------------------------
    - name: Trivy FS Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: fs
        severity: HIGH,CRITICAL
        exit-code: 1
        ignore-unfixed: true

    # -------------------------
    # Setup Runtime
    # -------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-
