name: Microservice CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
    # -------------------------
    # Checkout Source Code
    # -------------------------
    - name: Checkout code
      uses: actions/checkout@v4

    # -------------------------
    # Trivy Filesystem Scan (Shift Left Security)
    # -------------------------
    - name: Trivy FS Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: fs
        severity: HIGH,CRITICAL
        exit-code: 1
        ignore-unfixed: true

    # -------------------------
    # Setup Python
    # -------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # -------------------------
    # Install Dependencies
    # -------------------------
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # -------------------------
    # Run Unit Tests
    # -------------------------
    - name: Run Tests
      run: |
        pytest tests/

    # -------------------------
    # Docker Login
    # -------------------------
    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # -------------------------
    # Build Docker Image
    # -------------------------
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/microservice:latest .

    # -------------------------
    # Trivy Image Scan
    # -------------------------
    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/microservice:latest
        severity: HIGH,CRITICAL
        exit-code: 1
        ignore-unfixed: true

    # -------------------------
    # Push Docker Image
    # -------------------------
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/microservice:latest
